<div class="form">
    <h3>Log in to access your account.</h3>

    <%= simple_form_for :sessions, local: true do |f| %>
        <div><%= f.input :email %></div>
        <br>

    <%= f.input :password %>

    <%= f.submit "Login", class:"small-button mt-4" %>
    <% end %>
</div>