<div class="home">
    <div>
    <h2>Welcome to <span>myAccount</span></h2>
    <h3>Keep your account information handy -</h3>
    <h3>on the go, where ever you go.</h3>
    </div>
    <div>
    <%= image_tag "welcome-image", class: "welcome-image" %>
    </div>
</div>