// Define variables for your color scheme

// For example:
$red: #fd1015;
$blue: #50b8fa;
$light-blue: hsl(205, 86%, 81%);
$dark-blue: #454b95;
$purple: #aa81f3;
$pink: #d945cc;
$yellow: #ffc65a;
$orange: #e67e22;
$green: #1edd88;
$gray: hsl(209, 34%, 30%);
$light-gray: #f4f4f4;
