.avatar {
  width: 40px;
  border-radius: 50%;
}

.avatar-large {
  height: 40vh;
  border-radius: 68% 46% 76% 57% / 66% 42% 60% 59%;
  filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.19));
  padding-right: 20px;
  object-fit: cover;
}

@media screen and (max-width: 800px) {
  .avatar-large {
    height: 24vh;
    margin: auto;
    margin-bottom: 20px;
    border-radius: 68% 46% 76% 57% / 66% 42% 60% 59%;
    filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.19));
  }
}
